body{
	margin:0;
	font-family: 'Shadows Into Light', cursive;
}

a{
	text-decoration: none;
	color:white;
}

.a {
	color:white;
	background-color: salmon;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
}