body{
	margin: 0;
	background-color: #3daeeb;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.delete{
	width: 0;
}

*{
box-sizing: border-box;
}

a {
text-decoration: none;
}

.content{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.green, .red{
	padding: 10px;
}

.green{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #43eb3d;
	height: 500px;
}

.green.-left{
	width: 35%;
}

.green.-right{
	width: 60%;
}

.red{
	background-color: #ef2f5f;
	width: 100%;
}

.red.-left.-top{
	height: 40%;
}

.red.-left.-bottom{
	height: 55%;
}
