body{
	margin: 0;
	font-size: 24px;
	text-align: center;
	background-repeat: repeat;
	font-family: 'Space Mono', monospace;
}

p, h1. nav, h2, img{
	display: block;
}

nav a{
	margin-right: 15px;
}

footer p{
	margin: 10 0 0 0;
}

a{
	text-decoration: none;
	color: #606060;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.darkbg{
	background-color: #e8e8e8;
}